@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Rubik&family=Water+Brush&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css");
.color2 {
  color: #25d366; }

.container__grid {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas: "header" "main" "footer"; }

.header {
  grid-area: header; }

.fontsize {
  color: white; }

.instagram {
  color: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%); }

@keyframes float {
  0% {
    transform: translateY(0); }
  50% {
    transform: translateY(-15px); }
  100% {
    transform: translateY(0); } }

body {
  background-image: linear-gradient(to bottom, #b3b3b3, #a1a1a1, #909090, #7f7f7f, #6f6f6f, #6f6f6f, #6f6f6f, #6f6f6f, #7f7f7f, #909090, #a1a1a1, #b3b3b3); }

main {
  grid-area: main; }
  main div div div img {
    width: 100%;
    /* filter: grayscale(1) le agregas un filtro a la imagen */
    border-radius: 10px;
    height: 100%;
    filter: grayscale(1); }
    main div div div img:hover {
      filter: none; }
  main div div div img {
    width: 100%;
    /* filter: grayscale(1) le agregas un filtro a la imagen */
    border-radius: 10px;
    height: 100%; }
  main div div div img {
    width: 100%;
    /* filter: grayscale(1) le agregas un filtro a la imagen */
    border-radius: 10px;
    height: 100%; }
  main div div div img {
    width: 100%;
    /* filter: grayscale(1) le agregas un filtro a la imagen */
    border-radius: 10px;
    height: 100%;
    filter: grayscale(1); }
    main div div div img:hover {
      filter: none; }

footer {
  grid-area: footer; }

footer div a {
  font-size: 2rem; }
  footer div a i {
    color: #ff8d4b; }

footer div a {
  display: inline-block;
  animation: float 4s ease-in-out infinite; }
