@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rubik&family=Water+Brush&display=swap');

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css");
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box
}
html{
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%; /* tamaño predeterminado para toda pagina es 16px, entonces 1 rem y 1 em= a 16px
    y se pone un 62.5 de porcentaje variable porque el 62.5% de 16 es 10px */
}
.container__grid{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-areas:"header"
                        "main"
                        "footer";
    grid-template-rows: 100px auto 100px
}

/* header e hijos */

.encabezado{
    grid-area: header;
    background-color: rgb(27, 25, 25);

}

.encabezado__nav{
    display: flex;
    font-size: 2rem;
    justify-content: space-around;
    align-items: center;
    
}
.encabezado__nav__a{
    text-decoration: none;
    color: white;
}

/* estilos del main */

.main{
    grid-area: main;
    display: flex;
    justify-content: center;
    align-items: center;
    /* estas tres pa centrar todo */
    flex-direction: column;
    background-image: linear-gradient(to top, #2c2c2c, #515151, #797979, #a3a3a3, #d0d0d0);
    font-size: 1.5rem;
}

.section__galeria{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.card{
    width: 40rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.5rem;
    filter: grayscale(1);
}

.card:hover{
    filter: none;
}

.card__img{
    width: 100%;
    /* filter: grayscale(1) le agregas un filtro a la imagen */
    border-radius: 10px;
    height: 100%;
}

/* .card img :hover{
    filter: none;
}  le saca el filtro pero no me funcionaba*/

.footer{
    background-color: rgb(27, 25, 25);
    display: flex;
    align-items: center;
    gap: 15px;
}

.footer__img{
    width: 10%;
}

.footer__img__a{
    color: white;
    font-size: 4rem;
    animation-name: insta-logo ;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    animation-duration: 2s;
    animation-delay: 5s;
}

.section__galeria__video{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.card__img__video__inicio{
    width: 150%;
    align-items: center;
    justify-content: center;
}

@keyframes insta-logo{
    0%{ font-size: 4rem;}
    50%{ font-size: 2rem;}
    100%{ font-size: 4rem;}
}